extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    label#title GrapeVine
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="/account") Account
    .navlink
      a(href="/main") Home
  
  div.account
    p.accountName Name: #{account.username}
    p.accountID ID #: #{account._id}
          
block scripts
  script(src="/assets/make.js")
      
