extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    label#title GrapeVine
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="/account") My Games
    .navlink
      a(href="/main") Home
      
  
  
  section.games
    p.error Error Here
    
    h3.instruct #{error}
    
            
        
    a(href="/main", class="formSubmit") Return
  
block scripts
  script(src="/assets/make.js")
