extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    label#title GrapeVine
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="/account") My Games
    .navlink
      a(href="/main") Home
    .navlink
      a(href="/help") Help
  
  
  section.games
    p.error Error Here
    if !game || game.length == 0
      h3.instruct No Games yet
    else
      each val in game
        div.showGame
          img(src='#{val.cards[val.currentIteration]}', alt='Current game card image')
          input#newCard(type='text', name='newCard', placeholder='Describe the above picture...')
          button(class="formSubmit", id="addCardSubmitText", name="#{val.name}", value="#{csrfToken}") Submit
        
    a(href="/main", class="formSubmit") Return
  
block scripts
  script(src="/assets/make.js")

