extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    label#title GrapeVine
    .navlink
      a(href="/help") Help
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="/account") My Games
    .navlink
      a(href="/main") Home
    
      
  
  
  section.games
    p.error Error Here
    if !game || game.length == 0
      h3.instruct No Games yet
    else
      each val in game
        div.showGame
          each card, i in val.cards
            hr
            if i%2 == 0
              p.gameCard #{card}
            else
              img(src='#{card}', alt='Current game card image')

            
        
    a(href="/account", class="formSubmit") Return
  
block scripts
  script(src="/assets/make.js")

