extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    label#title GrapeVine
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="/account") Account
    .navlink
      a(href="/main") Home

  section#makeGame
    form#gameForm(class="gameForm", name="gameForm", action="/make", method="POST")
      label(for="name") Name: 
      input#gameName(type="text", name="name", placeholder="Game Name")
      label(for="gameMaxItr") Maximum Rounds: 
      input#gameMaxItr(type="text", name="maxItr", placeholder="# of rounds in the game")
      label(for="gameStartWords") Starting Words: 
      input#gameStartWords(type="text", name="startWords", placeholder="Starting sentence")
      input(type="hidden", name="_csrf", value="#{csrfToken}")
      a#makeGameSubmit(class="makeGameSubmit", href="#") Make Game
    
block scripts
  script(src="/assets/make.js")
