extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    label#title GrapeVine
    .navlink
      a(href="/help") Help
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="/account") My Games
    .navlink
      a(href="/main") Home
    

  


  section#makeGame
    form#gameForm(class="mainForm", name="gameForm", action="/make", method="POST")
      p.error Error Here
      label(for="name") Name: 
      input#gameName(type="text", name="name", placeholder="Game Name")
      label(for="gameMaxItr") Max Rounds: 
      input#gameMaxItr(type="text", name="maxItr", placeholder="# of rounds")
      label(for="gameStartWords") First Card: 
      input#gameStartWords(type="text", name="startWords", placeholder="Starting sentence")
      input(type="hidden", name="_csrf", value="#{csrfToken}")
      a#makeGameSubmit(class="formSubmit", href="#") Make Game
    
block scripts
  script(src="/assets/make.js")
