extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    label#title GrapeVine
    .navlink
      a(href="/help") Help
    .navlink
      a(href="/login") Login
    .navlink
      a(href="/signup") Sign up
    
      
  p.instruct Starting with a sentence, users alternate between drawing pictures and writing sentences to describe what the user before them wrote or drew. Like rumors through the grapevine the message gets twisted and it's usually hilarious. 

  section#signup
    form#signupForm(class="mainForm", name="signupForm", action="/signup", method="POST")
      p.error Error Here
      label(for="username") Username: 
      input#user(type="text", name="username", placeholder="username")
      label(for="pass") Password: 
      input#pass(type="password", name="pass", placeholder="password")
      label(for="pass2") Password: 
      input#pass2(type="password", name="pass2", placeholder="retype password")
      input(type="hidden", name="_csrf", value="#{csrfToken}")
      a#signupSubmit(class="formSubmit", href="#") Sign up

block scripts
  script(src="/assets/client.js")
